{% extends 'base.html' %}
{% load static %}

{% block habilitacion %}
    <div class="site-section">
        <div class="container">
            <div class="row justify-content-center text-center mb-5">
                <div class="col-md-6" data-aos="fade">
                    <h1 style="text-shadow: lightgray 1px 1px">Habilitación</h1>
                </div>
            </div>
            <div class="col-md-12 col-lg-12 mb-5 mb-lg-12" data-aos="fade" data-aos-delay="100">
                <div class="h-100 bg-white">

                    <div class="d-flex align-items-center mb-3 unit-3-heading">
                    </div>
                    <div class="unit-3-body">
                        <p>Contamos con la  Habilitación General No. HGTS-00488, otorgada por la Comisión Nacional de Telecomunicaciones de Venezuela <b>CONATEL</b>, con los atributos de Servicios de Internet, Transporte y Establecimiento y Explotación de Red de Telecomunicaciones.</p><br>
                        <p>Con esta habilitación, le estamos garantizando un trabajo de calidad, transparente y asegurando su inversión, de tal manera que su servicio no sea cancelado y pierda dicha inversión realizada.</p><br>
                        <p></p><br>
                    </div>
                </div>
            </div>

        </div>
    </div>

{% endblock %}

{% block localtime %}
    {{ localtime }}
{% endblock %}

{% block year %}
    {{ year }}
{% endblock %}