<!-- Header-->
<header class="masthead text-center" style="background-image: url({% static 'static/images/Imag-22.png' %}); width: auto">
    <div class="masthead-content">
        <div class="container px-5">
            <div class="container px-3">
                <div class="masthead-content">
                <div class="col-lg-6">
                    <div class="p-5">
                        <br><br><h2 class="display-5 text-white" style="text-shadow: 2px 2px 5px lightgray;"><br><br><br><b>Somos los mejores</b></h2>
                        <h2 class="display-5 text-white" style="text-shadow: 2px 2px 5px lightgray;"><b> en Telecomunicaciones</b></h2><br>
                        <p class="text-white">Ofrecemos servicios de acceso a Internet, transporte de datos IP en modalidades punto a punto y punto multipunto, venta de equipos, desarrollo de paginas web, consultoria, hosting, housing y servicios de Integracion de telecomunicaciones y seguridad.</p><br>
                        <p class="text-white">Contamos con la Habilitacion General No. HGTS-00488, otorgada por la Comision Nacional de Telecomunicaciones de Venezuela CONATEL, con los atributos de Servicio de Internet, Transporte, Establecimiento y Eplotacion de Red de Telecomunicaciones. Somos afiliados de Camara Nacional de Empresa de Telecomunicaciones, contando con acceso a informacion actualizada del sector y alianzas, tenemos asignados bloques de direcciones IP Publicas IPv4 e IPv6 y un Sistema Autonomo  (ASN) disponible para nuestros clientes empresariales.</p><br>
                        <center><img class="img-fluid rounded-1" src="{% static 'static/images/Imag-10.png' %}" alt="..." width="80%" style="box-shadow: 2px 2px 5px gray"/></center>
                    </div>
                </div>
                </div>
            </div><br><br>
        </div>
    </div>
</header>



<section style="background-image: url({% static 'static/images/Imag-09.png' %}); width: 97%">
    <!-- Content section 1-->
    <div><br>
        <div class="container px-5">
            <div class="row gx-5 align-items-center">
                <div class="col-lg-6">
                    <div class="p-5"><img class="img-fluid rounded-1" src="{% static 'static/images/Imag-22.png' %}" alt="..." width="100%"/></div>
                </div>
                <div class="col-lg-6">
                    <div class="p-5">
                        <br><br><h2 class="display-5 text-white" style="text-shadow: 2px 2px 5px lightgray;"><br><br><br><b>Somos los mejores</b></h2>
                        <h2 class="display-5 text-white" style="text-shadow: 2px 2px 5px lightgray;"><b> en Telecomunicaciones</b></h2><br>
                        <p class="text-white">Ofrecemos servicios de acceso a Internet, transporte de datos IP en modalidades punto a punto y punto multipunto, venta de equipos, desarrollo de paginas web, consultoria, hosting, housing y servicios de Integracion de telecomunicaciones y seguridad.</p><br>
                        <p class="text-white">Contamos con la Habilitacion General No. HGTS-00488, otorgada por la Comision Nacional de Telecomunicaciones de Venezuela CONATEL, con los atributos de Servicio de Internet, Transporte, Establecimiento y Eplotacion de Red de Telecomunicaciones. Somos afiliados de Camara Nacional de Empresa de Telecomunicaciones, contando con acceso a informacion actualizada del sector y alianzas, tenemos asignados bloques de direcciones IP Publicas IPv4 e IPv6 y un Sistema Autonomo  (ASN) disponible para nuestros clientes empresariales.</p><br>
                        <center><img class="img-fluid rounded-1" src="{% static 'static/images/Imag-10.png' %}" alt="..." width="80%" style="box-shadow: 2px 2px 5px gray"/></center>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>