{% extends 'base.html' %}
{% load static %}

{% block nosotros %}
    <div class="site-section">
        <div class="container">
            <div class="row justify-content-center text-center mb-5">
                <div class="col-md-6" data-aos="fade">
                    <h1 style="text-shadow: lightgray 1px 1px">Solicitar Servicio</h1>
                </div>
            </div>
            <div class="col-md-12 col-lg-12 mb-5 mb-lg-12" data-aos="fade" data-aos-delay="100">
                <div class="h-100 bg-white">

                    <div class="d-flex align-items-center mb-3 unit-3-heading">
                    </div>
                    <div class="unit-3-body">
                        <p>Para que podamos brindar servicio a un cliente, es necesario que los equipos de radio a ser instalados cuenten con linea de vista directa hacia alguna de nuestras celdas de comunicaciones, que se encuentran desplegadas en las ciudades donde brindamos servicios,
                        de forma continua estamos instalando nuevas celdas para ampliar nuestra cobertura, en muchas ocasiones es necesario realizar una visita de inspeccion para evaluar la factibilidad de instalar un equipo de radio que nos permita brindarles nuestros servicios.
                        Por ello es muy importante que al momento de solicitar el servicio, sean lo mas especificos posibles en la informacion relacionada con la direccion para que nuestro personal de ingenieria pueda pre-evaluar la factibilidad.</p><br>
                        <form method="post">
                            {% csrf_token %}
                            {{ form.as_p }}
{#                            <div class="form-check">#}
{#                                <label class="form-check-label">#}
{#                                    <input class="form-check-input" type="checkbox"> Recordar contraseña</label>#}
{#                            </div>#}
                            <br>
                            <button class="btn btn-info btn-block text-white spinner-border" type="submit" style="box-shadow: lightgray 2px 2px;">Enviar</button>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>

{% endblock %}

{% block localtime %}
    {{ localtime }}
{% endblock %}

{% block year %}
    {{ year }}
{% endblock %}